.container {
    display: flex;
    flex-wrap: wrap;
    /* gap: 1rem; */
}

.sidebar {
    width: 12%;
    min-width: 230px;
    max-width: 12%;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.sidebar .sidebarContent {
    display: flex;
    height: 100vh;
}

.sidebar .sidebarContent .sidebarItems {
    width: 100%;
}

.sidebar .sidebarContent .sidebarItems ul {
    all: unset;
    display: flex;
    list-style-type: none;
    flex-direction: column;
}
.sidebar .sidebarContent .sidebarItems .sidebarItem {
    text-decoration: none;
    color: #6c757d;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
    padding: 5% 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar .sidebarContent .sidebarItems .sidebarItem:hover {
    color: #000000;
}

.sidebar .sidebarContent .sidebarItems .active {
    color: #000000;
}

.content {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

.sidebar .sidebarContent .sidebarItems .sidebarItem .icon{
    margin: 0 10%;
}

.sidebar .sidebarContent .sidebarItems .defaultOptions .sideBarDefaultIcon{
    font-size: 30px;
    color: white;
}
.sidebar .sidebarContent .sidebarItems .defaultOptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 10% 5%;

}

.sidebar .sidebarContent .sidebarItems .defaultOptions .defaultOptionText::first-letter {
    text-transform:capitalize;
}