@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* variable declartion */

:root {
    --background: #ED6B5B;
    --white: #ffffff;
    --primary: #F9AC66;
    --secondary: #C36B84;
    --black: #000000;
    --light: #ffeded;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    /* border: 2px solid black; */
    margin: 1% 2%;
    /* background-color: #fffff0; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    padding: 1%;
}

.navbar .navbarContent .logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navbarContent .logo img {
    width: 100px;
    height: 100px;
}

.navbar .navbarContent .user {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar .navbarContent .user img {
    width: 65px;
    height: 65px;
}
.navbar .navbarContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .navbarContent .navbarItems {
    width: 80%;
}

.navbar .navbarContent .navbarItems ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.navbar .navbarContent .navbarItems li {
    margin: 0 3%;
}

.navbar .navbarContent .navbarItems .navbarItem {
    text-decoration: none;
    color: #6c757d;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
    padding: 5% 13%;

}

.navbar .navbarContent .navbarItems .navbarItem:hover {
    color: #000000;
}
.navbar .navbarContent .navbarBtnContainer {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .navbarContent .profile {
    width: 10%;
}

.navbar .navbarContent .navbarItems .active {
    color: #000000;
}

.navbar .navbarContent .dropdown{
    position: absolute;
    border: 2px solid black;
    padding: 1%;
    
}
.navbar .navbarContent .dropdown li{
    list-style-type: none;
    margin: 30% 0;
}